.reset-confirm-password-incorrect {
  position: absolute;
  top: 232px;
  left: 236px;
  color: #ff0000;
  font-size: 14px;
}

.reset-empty-error {
  position: absolute;
  top: 233px;
  left: 371px;
  color: #ff0000;
  font-size: 14px;
}
