* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors: */
  --unnamed-color-43afff: #43afff;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-303f60: #303f60;
}

body{
  background: #ffffff;
  /* height: 90vw; */
}
